<nav class="navbar navbar-default navbar-fixed-top" style="font-size: 18px; padding: 10px 30px 10px 30px; display: flex; justify-content: space-around;" role="navigation">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" style="font-size: 24px" href="{{ site.url }}{{ site.baseurl }}/">ALOHA Lab</a>
	</div>
	<div style="flex-grow: 1;"></div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">People</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings">Openings</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/news">News</a></li>
		<!--<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/pictures">(Pics)</a></li>-->
	  </ul>
	</div>
</nav>
