
{% for publi in site.data.publist %}

 <div class="well" style="overflow: hidden; padding-bottom:7px;">
  <pubtit>{{ publi.title }}</pubtit>
  {% if page.url == "/research/" %}<p style="margin: 5px 0px 0px 0px;">{% endif; %}<img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publi.image }}" class="img-responsive" width="33%" style="float: left; {% if page.url == "/research/" %}padding: 7px 10px 0px 0px;{% endif; %}" />{% if page.url == "/research/" %}</p>{% endif; %}
  <p>{{ publi.description }}</p>
  <p><em>{{ publi.authors }}</em></p>
  <p>{{ publi.link.display }}&nbsp; <a style="background: url({{ site.url }}{{ site.baseurl }}/images/icons/pdf_icon.png) no-repeat left center; text-decoration: none; padding-left: 20px;" target="_blank" href="../media/{{ publi.link.url }}">[PDF]</a></p>
  <p class="text-danger"><strong> {{ publi.news1 }}</strong></p>
  <p> {{ publi.news2 }}</p>
 </div>

{% endfor %}
