---
layout: default
---

<div id="homeid" class="row">
  <!-- <img src="/images/bilab_short_transparent.png" width=20%> -->
  <!--         <img src="/images/bilab_home1.png" class="img-fluid" width=100% alt="Responsive image"> -->
  <iframe width="1000" height="563"
    src="https://www.youtube.com/embed/8b2BSxw_dwk?playlist=8b2BSxw_dwk&loop=1&mute=1&autoplay=1" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
  <h1>Building Informatics and Visualization Lab</h1>
  <h3>We innovate solutions for the operational challenges associated with construction and operation of facilities and
    infrastructure systems in urban settings.</h3>
</div>
<br>
<div id="newsid" class="row">
  {% include news.html %}
</div>
